services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
  frontend:
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app\
